@import url("https://fonts.googleapis.com/css?family=Barriecito|Rubik+Mono+One&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Barriecito', cursive;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(./imgs/body.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background: #eeeeee;
  width: 90%;
  padding: 3em 4em 7em 4em;
  border-radius: 10px;
  height: 20%;
}

@media screen and (max-width: 414px), screen and (max-width: 768px) {
  .container {
    width: 75%;
    padding: 3em 4em 7em 4em;
    border-radius: 10px;
    height: auto;
    background: #b80b53;
  }
}

.container h1,
.container img,
.container .price {
  display: inline-block;
  margin: 0;
}

.container h1 {
  font-size: 2em;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#56884b), to(#abcee9));
  background: linear-gradient(#56884b, #abcee9);
  padding: 5px;
  font-family: 'Rubik Mono One', sans-serif;
}

@media screen and (max-width: 414px), screen and (max-width: 768px) {
  .container h1 {
    font-size: 1em;
  }
}

.container .price {
  float: right;
  font-size: 1.7em;
  color: #008BF5;
}

@media screen and (max-width: 414px), screen and (max-width: 768px) {
  .container .price {
    font-size: 1em;
  }
}

.container img {
  cursor: pointer;
  margin-left: 15px;
  width: 60px;
}

@media screen and (max-width: 414px), screen and (max-width: 768px) {
  .container img {
    width: 30px;
  }
}

.container .info {
  display: none;
}

.container .info button {
  color: #fff;
  background-color: #008BF5;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.20em;
  cursor: pointer;
}

@media screen and (max-width: 414px), screen and (max-width: 768px) {
  .container .info button {
    font-size: 0.80em;
    margin: 0 0 8px 0;
  }
}

.itemOne {
  padding: 8px;
}

.item {
  margin: 2em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 30% 1fr;
      grid-template-columns: 20% 30% 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.item a {
  text-decoration: none;
  color: #008BF5;
  font-size: 1.3em;
}

@media screen and (max-width: 414px), screen and (max-width: 768px) {
  .item a {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    font-size: 0.80em;
  }
}

.item input {
  border-radius: 5px;
  border: 2px solid #008BF5;
  color: black;
  font-family: 'Rubik Mono One', sans-serif;
}

#wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background: #fff;
  width: 80%;
  padding: 3em 4em 2em 4em;
  border-radius: 10px;
  height: 20%;
  display: none;
  font-size: 30px;
}
/*# sourceMappingURL=main.css.map */