@import url('https://fonts.googleapis.com/css?family=Barriecito|Rubik+Mono+One&display=swap');

// $large: 'screen and (min-width: 1024px)';
$medium: 'screen and (max-width: 768px)';
$small: 'screen and (max-width: 414px)';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barriecito', cursive;
    display: grid;
    justify-content: center;
    align-items: center;
    background: url(./imgs/body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background: rgb(238, 238, 238);
    width: 90%;
    padding: 3em 4em 7em 4em;
    border-radius: 10px;
    height: 20%;

    @media #{$small},
    #{$medium} {
        width: 75%;
        padding: 3em 4em 7em 4em;
        border-radius: 10px;
        height: auto;
        background: rgb(184, 11, 83);
    }

    h1,
    img,
    .price {
        display: inline-block;
        margin: 0;
    }

    h1 {
        font-size: 2em;
        border-radius: 5px;
        background: linear-gradient(rgb(86, 136, 75), rgb(171, 206, 233));
        padding: 5px;
        font-family: 'Rubik Mono One', sans-serif;

        @media #{$small},
        #{$medium} {
            font-size: 1em;
        }
    }

    .price {
        float: right;
        font-size: 1.7em;
        color: #008BF5;

        @media #{$small},
        #{$medium} {
            font-size: 1em;
        }
    }

    img {
        cursor: pointer;
        margin-left: 15px;
        width: 60px;

        @media #{$small},
        #{$medium} {
            width: 30px;
        }
    }

    .info {
        display: none;

        button {
            color: #fff;
            background-color: #008BF5;
            padding: 10px;
            border-radius: 15px;
            font-weight: bold;
            font-size: 1.20em;
            cursor: pointer;

            @media #{$small},
            #{$medium} {
                font-size: 0.80em;
                margin: 0 0 8px 0;
            }
        }
    }
}

.itemOne {
    padding: 8px;
}

.item {
    margin: 2em 0;
    display: grid;
    grid-template-columns: 20% 30% 1fr;
    justify-content: start;

    a {
        text-decoration: none;
        color: #008BF5;
        font-size: 1.3em;

        @media #{$small},
        #{$medium} {
            display: grid;
            grid-template-columns: 60% 40%;
            font-size: 0.80em;
        }
    }

    input {
        border-radius: 5px;
        border: 2px solid #008BF5;
        color: rgb(0, 0, 0);
        font-family: 'Rubik Mono One', sans-serif;
    }
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr;
    background: #fff;
    width: 80%;
    padding: 3em 4em 2em 4em;
    border-radius: 10px;
    height: 20%;
    display: none;
    font-size: 30px;
}