@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
    display: grid;
    justify-content: center;
    align-items: center;
    background: url(./imgs/body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background: #fff;

    width: 100%;
    padding: 3em 4em 7em 4em;
    border-radius: 10px;
    height: 20%;

    h1,
    img,
    .price {
        display: inline-block;
        margin: 0;
    }

    h1 {
        font-size: 2em;
        border-radius: 5px;
        background: linear-gradient(rgb(47, 146, 221), rgb(171, 206, 233));
        padding: 5px;
    }

    .price {
        float: right;
        font-size: 1.7em;
        color: #008BF5;
    }

    img {
        cursor: pointer;
        margin-left: 15px;
        width: 60px;
    }

    .info {
        display: none;

        button {
            color: #fff;
            background-color: #008BF5;
            padding: 10px;
            border-radius: 15px;
            font-weight: bold;
            font-size: 1.20em;
            cursor: pointer;
        }
    }
}

.itemOne {
    padding: 8px;
}

.item {
    margin: 2em 0;
    display: grid;
    grid-template-columns: 20% 40% 1fr;
    justify-content: start;

    a {
        text-decoration: none;
        color: #008BF5;
        font-size: 1.3em;
    }

    .subprice {
        text-align: right;
        font-size: 1.2em;
    }
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr;
    background: #fff;
    width: 100%;
    padding: 3em 4em 2em 4em;
    border-radius: 10px;
    height: 20%;
    // display: none;
}